@model CarShop.BL.ViewModel.CarCategoryViewModel
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}

@if (!Model.User.EmailConfirmed)
{
    <h3>Підтвердіть свою почту для користування всіма послугами нашого сервісу</h3>
}
<p>@Model.User.Email</p>
<h1>Всі категорії</h1>
@foreach (var item in Model.Categories)
{
    if (item == null)
    {
        <h1>Немає категорій</h1>
    }
    else
    {

    <div>
        <h4><b>@item.Name</b></h4>
        <a type="submit" asp-route-name="@item.Name" asp-route-id="@item.Id" asp-controller="Car" asp-action="DeleteCategory">Видалити</a>
        <a asp-route-id="@item.Id" asp-controller="Car" asp-action="EditCategory">Редагувати</a>

    </div>
    }

}
<h1>Всі машини</h1>
@if (Model.Cars.Count() < 0)
{
    <h1>Немає машин</h1>
}
else
{
    @foreach (var item in Model.Cars)
    {
<div>
   
    <h4>
        <b>
            <a asp-action="DetailsCar" asp-controller="Car" asp-route-id="@item.Id" asp-route-name="@item.Name">
                @item.Name
            </a>
            <p> <a asp-action="DeleteCar" asp-controller="car" asp-route-id="@item.Id" asp-route-name="@item.Name">Видалити</a></p>
            <p>        <a asp-route-id="@item.Id" asp-controller="Car" asp-action="Editcar">Редагувати</a></p>
        
        </b>
    </h4>
</div>
      }
}

