@model CarShop.BL.ViewModel.CarsViewModel
@{
    ViewData["Title"] = "Home Page";
}




@if (Model.Cars.Count() <= 0)
{
    <h1>Машин немає</h1>
}
else
{
<section class="all-cars">
    <div class="grid-category">
        @foreach (var item in Model.Cars)
        {
            <div class="item-car">
                <div>
                    <div>
                        <img style="height:auto; width:50%" src="@item.CarLogo.Path" />
                    </div>
                    <div>
                        <h4>@item.CarLogo.NameLogo</h4>
                    </div>
                </div>
                <hr />
                <a asp-controller="Car" asp-action="DetailsCar" asp-route-id="@item.Id" asp-route-name="@item.Name">
                    <img src="@item.ImagePath" class="car-img" />
                    <h4 class="car-name">@item.Name</h4>
                    <p class="car-price">@item.Price</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @foreach (var item1 in Model.Basket)
                        {
                            if (item.Id == item1.CarId)
                            {
                                <h3>В корзині</h3>
                            }
                        }
                    }
                </a>
                <p><i><a href="#">Конфігурація</a></i></p>
                <p><i><a href="#">Детальніше</a></i></p>
            </div>




        }
    </div>

</section>



}
