@model IEnumerable<CarShop.BL.Models.CarLogo>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    int i = 0;
}

@foreach (var item in Model)
{
    <h3>@item.NameLogo</h3>
    <img src="@item.Path" width="200" height="200" />
    {
        i++;
    }
    <a href="#" class="js-open-modal" data-modal="@i">Видалити</a>
    <a asp-action="EditLogo" asp-controller="Car" asp-route-id="@item.Id" asp-route-name="@item.NameLogo">Редагувати</a>
    <div class="modal" data-modal="@i">
        <svg class="modal__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" /></svg>
        <h1>Якщо ви видалите даний логотип то одразу всі машини пов'язані з цим логотипом</h1>
        <a asp-action="DeleteLogo" asp-controller="Car" asp-route-id="@item.Id" asp-route-name="@item.NameLogo">Видалити</a>
    </div>

}
<div class="overlay js-overlay-modal"></div>
@section Scripts{
    <script>
        !function (e) { "function" != typeof e.matches && (e.matches = e.msMatchesSelector || e.mozMatchesSelector || e.webkitMatchesSelector || function (e) { for (var t = this, o = (t.document || t.ownerDocument).querySelectorAll(e), n = 0; o[n] && o[n] !== t;)++n; return Boolean(o[n]) }), "function" != typeof e.closest && (e.closest = function (e) { for (var t = this; t && 1 === t.nodeType;) { if (t.matches(e)) return t; t = t.parentNode } return null }) }(window.Element.prototype);

        document.addEventListener('DOMContentLoaded', function () {

            /* Записываем в переменные массив элементов-кнопок и подложку.
               Подложке зададим id, чтобы не влиять на другие элементы с классом overlay*/
            var modalButtons = document.querySelectorAll('.js-open-modal'),
                overlay = document.querySelector('.js-overlay-modal'),
                closeButtons = document.querySelectorAll('.js-modal-close');


            /* Перебираем массив кнопок */
            modalButtons.forEach(function (item) {

                /* Назначаем каждой кнопке обработчик клика */
                item.addEventListener('click', function (e) {

                    /* Предотвращаем стандартное действие элемента. Так как кнопку разные
                       люди могут сделать по-разному. Кто-то сделает ссылку, кто-то кнопку.
                       Нужно подстраховаться. */
                    e.preventDefault();

                    /* При каждом клике на кнопку мы будем забирать содержимое атрибута data-modal
                       и будем искать модальное окно с таким же атрибутом. */
                    var modalId = this.getAttribute('data-modal'),
                        modalElem = document.querySelector('.modal[data-modal="' + modalId + '"]');


                    /* После того как нашли нужное модальное окно, добавим классы
                       подложке и окну чтобы показать их. */
                    modalElem.classList.add('active');
                    overlay.classList.add('active');
                }); // end click

            }); // end foreach


            closeButtons.forEach(function (item) {

                item.addEventListener('click', function (e) {
                    var parentModal = this.closest('.modal');

                    parentModal.classList.remove('active');
                    overlay.classList.remove('active');
                });

            }); // end foreach


            document.body.addEventListener('keyup', function (e) {
                var key = e.keyCode;

                if (key == 27) {

                    document.querySelector('.modal.active').classList.remove('active');
                    document.querySelector('.overlay').classList.remove('active');
                };
            }, false);


            overlay.addEventListener('click', function () {
                document.querySelector('.modal.active').classList.remove('active');
                this.classList.remove('active');
            });




        }); // end ready

    </script>
}