@model CarShop.BL.ViewModel.EditCarViewModel
@{ 
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


    <form asp-action="CreateCar" asp-controller="Car" method="post" enctype="multipart/form-data">

        <div>
            <h2>Назва машини</h2>
            <input type="text" asp-for="Car.Name" />
            <span asp-validation-for="Car.Name"></span>
        </div>

        <div>
            <h2>Назва машини</h2>
            <textarea asp-for="Car.Text"></textarea>

            <span asp-validation-for="Car.Text"></span>
        </div>
          

        <div>
            <select asp-for="Car.CategoryId">
                @foreach (var item in Model.Categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }

            </select>

            <span asp-validation-for="Car.CategoryId"></span>
        </div>
        <div>
            <select class="image-picker" id="selectImage" asp-for="Car.CarLogoId">
                @foreach (var item in Model.CarLogos)
                {
                    <option data-img-src="@item.Path" value="@item.Id">@item.NameLogo</option>
                }

            </select>

            <span asp-validation-for="Car.CarLogoId"></span>
        </div>

        <div>
            <h2>Вага машини</h2>
            <input type="number" asp-for="Car.Weight" />

            <span asp-validation-for="Car.Weight"></span>
        </div>


        <div>
            <h2>Колір машини</h2>
            <input type="number" name="Color" />
        </div>

        <div>
            <h2>Висота машини</h2>
            <input type="number" asp-for="Car.Height" />

            <span asp-validation-for="Car.Height"></span>
        </div>
        <div>
            <h2>Ширина машини</h2>
            <input type="number" asp-for="Car.Width" />

            <span asp-validation-for="Car.Width"></span>
        </div>
        <div>
            <h2>Назва двигуна</h2>
            <input type="text" asp-for="Engine.Name" />

            <span asp-validation-for="Engine.Name"></span>
        </div>
        <div>
            <h2>Кіньські сили</h2>
            <input type="number" asp-for="Engine.Horsepower" />

            <span asp-validation-for="Engine.Horsepower"></span>
        </div>
        <div>
            <h2>Ціна</h2>
            <input type="number" asp-for="Car.Price" />

            <span asp-validation-for="Car.Price"></span>
        </div>

        <div>
            <h2>Виберіть картинку</h2>
            <input type="file" asp-for="Car.ImagePath" name="formFile" />

            <span asp-validation-for="Car.ImagePath"></span>
        </div>
        <div>
            <h2>Виберіть задній фон</h2>
            <input id="file" type="file" name="formFile1" />
        </div>

        <div>
            <output id="list"></output>
        </div>

        <div>
            <input type="submit" />
        </div>
    </form>


@section Scripts{ 
    <script>

    $(document).ready(function () {
        $("#selectImage").imagepicker({
            hide_select: true
        });

        var $container = $('.image_picker_selector');
        // initialize
        $container.imagesLoaded(function () {
            $container.masonry({
                columnWidth: 30,
                itemSelector: '.thumbnail'
            });
        });
    });




        function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }

      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.innerHTML = ['<img class="thumb" src="', e.target.result,
                '" title="', escape(theFile.name), '"/>'].join('');
            document.getElementById('list').insertAdjacentElement(span, null);
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('file').addEventListener('change', handleFileSelect, false);
    </script>
}