@model CarShop.BL.ViewModel.EditCarViewModel

    <section>
        <div class="details-image-main">
            @if (User.IsInRole("Admin"))
            {
                <div class="chage-background">
                    <form asp-controller="Car" asp-action="ChangeBackgroundImage" method="post" enctype="multipart/form-data">
                        <input hidden asp-for="Car.Id"/>
                        <input type="file" name="background">
                        <input type="submit" value="змінити"/>
                    </form>
                </div>
            }
            <img src="@Model.Car.BigImagePath" />
            
        </div>
        <h1>@Model.Car.Name</h1>
        <img src="@Model.Car.ImagePath" width="250" height="250" alt="Alternate Text" />

        <h3>@Model.Engine.Name</h3>
        @Html.Raw(Model.Car.Text)
        @if (User.Identity.IsAuthenticated)
        {


            @if (Model.BasketCar != null)
            {
                <h3>Дана машина вже в корзині</h3>
            }
            else
            {

                <form asp-action="AddCar" asp-controller="Basket" asp-route-id="@Model.Car.Id">


                    <div>
                        <h3>Кількість</h3>
                        <input asp-for="BasketCar.Count" value="1" />
                    </div>


                    <input type="submit" value="Додати" />

                </form>

            }
        }
        else
        {
            <h3>Для того щоб добаваити товар в корзину, увійдіть</h3>
        }
    <h1>TE CECHY WYKRACZAJĄ POZA WSZELKIE OCZEKIWANIA.</h1>
    <h4>Odkryj stylistykę, dynamikę jazdy i najlepsze rozwiązania techniczne BMW @Model.Car.Name</h4>

        <hr />

            <div class="grid-style">
                @foreach (var item in Model.Descriptions)
                {
                    if (item.IsShown)
                    {
                <div class="style-item">
                    <div class="item">
                        <h1 class="">@item.Name</h1>
                        <img src="@item.Path" height="200" width="200" />
                    </div>
                </div>
                @if (User.IsInRole("Admin"))
                {
                <a asp-action="DeleteDescription" asp-controller="Car" asp-route-idCar="@item.CarId" asp-route-nameCar="@item.Car.Name"  asp-route-id="@item.Id">Видалити</a>
                    }
                }
                }
            </div>
        <hr />

        @if (User.IsInRole("Admin"))
        {
            <partial name="_CreateDescription"/>
        }
    </section>

<div class="error-msg" id="error1">
    <h1>@Model.ErrorMessage</h1>
</div>



@section Scripts{

    <script>

        let isError = '@Model.IsError';
        let isSuccess = '@Model.IsSuccess'
        let errorMessage = '@Model.ErrorMessage';
        ShowError(isError, isSuccess, errorMessage);
        
    </script>

}