@model IEnumerable<CarShop.BL.Models.User>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h3>Пошук</h3>
<form asp-action="Index" asp-controller="Users">
    <div>
        <input type="search" name="name" />
    </div>
    <div>
        <input type="submit" value="Пошук" />
    </div>

    <button type="submit" asp-action="Index" asp-controller="Users" value="">Всі</button>
</form>

@foreach (var item in Model)
{
    <h1>@item.FirstName @item.LastName</h1>
    <a asp-action="EditUser" asp-controller="Users" asp-route-id="@item.Id">Редагувати</a>
    <a asp-action="DeleteUser" asp-controller="Users" asp-route-id="@item.Id">Видалити</a>
    <a asp-action="Edit" asp-controller="Roles" asp-route-userId="@item.Id">Змінити роль</a>

}


